.Rproj.user
.Rhistory
.RData
.Ruserdata
# Ignore everything in paper
paper/*

# Allow Git to look inside paper/
!paper/

# Keep specific files
!paper/fc_changes_paper.qmd
!paper/custom_ref_new.docx
!paper/references.docx

# Keep the Quarto extensions required to render the manuscript
!paper/_extensions/

# Keep everything inside the extensions directory
!paper/_extensions/**


data/*
!data/atlas_data/
!data/atlas_data/**
data/atlas_data/atlas_data_not_in_paper/
!data/adni_src_data_synthetic/
!data/adni_src_data_synthetic/**
!data/bf_src_data_synthetic/
!data/bf_src_data_synthetic/**
!data/gradients/
!data/gradients/**
data/adni_src_data
data/bf_src_data
src/scratch
random
stuff_for_revisions/
test_figures/
